.housing_information{
    text-align: left;
    min-width: 1000px;
    min-height: 700px;
    background-color: #fff;
    overflow: auto;
    .search{
        margin-top: 30px;
        border-radius: 4px;
        .ant-form-item{
            margin-bottom: 0px !important;
        }
    }
    .list{
        box-sizing: border-box;
        border: 1px solid #eee;
        border-radius: 4px;
        overflow: hidden;
        margin: 0 20px;
        padding:20px;
        margin-bottom: 20px;
        position: relative;
        span.cross{
            display: inline-block;
            font-size: 30px;
            position: absolute;
            top:-10px;
            right: 10px;
            width: 0px;
            height: 0px;
            overflow: hidden;
        }
        &:hover{
            border:1px solid #47b3e3;
            box-shadow: 0 0 10px 2px #eee;
            transition: 1s all;
            .title{
                    color:#47b3e3;
            }
            span.cross{
                display: inline-block;
                cursor: pointer;
                font-size: 30px;
                color:red;
                position: absolute;
                top:7px;
                right: 10px;
                width: 20px;
                height: 20px;
                line-height: 15px;
                animation:turn .5s linear;
                @keyframes turn{
                    0%{-webkit-transform:rotate(0deg);}
                    100%{-webkit-transform:rotate(360deg);}
                }
            }
        }
        
        img{
            width: 100%;
            height: 146px;
            border-radius: 4px;
            transition: 1s all;
            &:hover{
                transform: scale(1.2);
            }
        }
        >div{
            float: left;
            margin-right: 20px;
        }
        >div:nth-child(1){
            overflow: hidden;
            width: 200px;
        }
        >div:nth-child(2){
            width: 280px;
            p{
                overflow: hidden;
                text-overflow:ellipsis;
                -o-text-overflow:ellipsis;
                white-space:nowrap;
                font-size: 16px;
                font-weight: 700;
                color: rgba(78,78,78)
            }
            img{
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: baseline;
                position: relative;
                top:3px;
            }
        }
        >div:nth-child(3){
            float: right;
            margin-top: 40px;
            text-align: center;
            .price{
                color:red;
                font-weight: 700;
            }
            .univalence{
                color:rgb(78, 78, 78);
                font-size: 12px;
            }
        }
    }
}
.search{
    margin-bottom: 30px;
}
.search_box{
    display: inline-block;
}
.search_btn{
    display: inline-block;
    float: right;
    margin-right: 20px;
    &::before{
        clear: both;
    }
}